﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h2>Groenten</h2>
    <ul>
        @foreach (var groente in ViewBag.groenten)
        {
            <li>@groente</li>
        }
    </ul>
    @ViewBag.zoekResultaat

</body>
</html>
